body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Oswald', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #64c700 !important;
}
.bg-success {
  background-color: #ff4500 !important;
}
.bg-info {
  background-color: #ff4500 !important;
}
.bg-warning {
  background-color: #ff4500 !important;
}
.bg-danger {
  background-color: #ff4500 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #64c700 !important;
  border-color: #64c700 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #387000 !important;
  border-color: #387000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #387000 !important;
  border-color: #387000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffd701 !important;
  border-color: #ffd701 !important;
  color: #010100 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #a98f00 !important;
  border-color: #a98f00 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #010100 !important;
  background-color: #a98f00 !important;
  border-color: #a98f00 !important;
}
.btn-info,
.btn-info:active {
  background-color: #ff4500 !important;
  border-color: #ff4500 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #a82e00 !important;
  border-color: #a82e00 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #a82e00 !important;
  border-color: #a82e00 !important;
}
.btn-success,
.btn-success:active {
  background-color: #ff4500 !important;
  border-color: #ff4500 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #a82e00 !important;
  border-color: #a82e00 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #a82e00 !important;
  border-color: #a82e00 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ff4500 !important;
  border-color: #ff4500 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #a82e00 !important;
  border-color: #a82e00 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #a82e00 !important;
  border-color: #a82e00 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff4500 !important;
  border-color: #ff4500 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #a82e00 !important;
  border-color: #a82e00 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #a82e00 !important;
  border-color: #a82e00 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #64c700;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #387000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #64c700 !important;
  border-color: #64c700 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffd701;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #a98f00 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #010100 !important;
  background-color: #ffd701 !important;
  border-color: #ffd701 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff4500;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #a82e00 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ff4500 !important;
  border-color: #ff4500 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff4500;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #a82e00 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #ff4500 !important;
  border-color: #ff4500 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff4500;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #a82e00 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ff4500 !important;
  border-color: #ff4500 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff4500;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #a82e00 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff4500 !important;
  border-color: #ff4500 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #64c700 !important;
}
.text-secondary {
  color: #ffd701 !important;
}
.text-success {
  color: #ff4500 !important;
}
.text-info {
  color: #ff4500 !important;
}
.text-warning {
  color: #ff4500 !important;
}
.text-danger {
  color: #ff4500 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #316100 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #9a8200 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #992900 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #992900 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #992900 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #992900 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #64c700;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ff4500;
}
.alert-warning {
  background-color: #ff4500;
}
.alert-danger {
  background-color: #ff4500;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #64c700;
  border-color: #64c700;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #64c700;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #a4ff47;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffdacc;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffdacc;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffdacc;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffdacc;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #64c700 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #64c700;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #64c700;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #64c700;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #64c700;
  border-bottom-color: #64c700;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #64c700 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffd701 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2364c700' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tqzwfsvEQW {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-tqzwfsvEQW nav.navbar {
  position: fixed;
}
.cid-tqzwfsvEQW .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tqzwfsvEQW .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tqzwfsvEQW .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tqzwfsvEQW .dropdown-item:hover,
.cid-tqzwfsvEQW .dropdown-item:focus {
  background: #64c700 !important;
  color: white !important;
}
.cid-tqzwfsvEQW .dropdown-item:hover span {
  color: white;
}
.cid-tqzwfsvEQW .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tqzwfsvEQW .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tqzwfsvEQW .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tqzwfsvEQW .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tqzwfsvEQW .nav-link {
  position: relative;
}
.cid-tqzwfsvEQW .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-tqzwfsvEQW .container {
    flex-wrap: nowrap;
  }
}
.cid-tqzwfsvEQW .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tqzwfsvEQW .dropdown-menu,
.cid-tqzwfsvEQW .navbar.opened {
  background: #333333 !important;
}
.cid-tqzwfsvEQW .nav-item:focus,
.cid-tqzwfsvEQW .nav-link:focus {
  outline: none;
}
.cid-tqzwfsvEQW .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tqzwfsvEQW .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tqzwfsvEQW .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tqzwfsvEQW .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tqzwfsvEQW .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tqzwfsvEQW .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tqzwfsvEQW .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #333333;
}
.cid-tqzwfsvEQW .navbar.opened {
  transition: all 0.3s;
}
.cid-tqzwfsvEQW .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tqzwfsvEQW .navbar .navbar-logo img {
  width: auto;
}
.cid-tqzwfsvEQW .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tqzwfsvEQW .navbar.collapsed {
  justify-content: center;
}
.cid-tqzwfsvEQW .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tqzwfsvEQW .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tqzwfsvEQW .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 4.1rem);
  }
}
.cid-tqzwfsvEQW .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tqzwfsvEQW .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tqzwfsvEQW .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tqzwfsvEQW .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tqzwfsvEQW .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tqzwfsvEQW .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tqzwfsvEQW .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tqzwfsvEQW .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tqzwfsvEQW .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tqzwfsvEQW .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tqzwfsvEQW .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tqzwfsvEQW .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tqzwfsvEQW .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tqzwfsvEQW .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tqzwfsvEQW .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tqzwfsvEQW .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tqzwfsvEQW .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tqzwfsvEQW .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tqzwfsvEQW .navbar.navbar-short {
  min-height: 60px;
}
.cid-tqzwfsvEQW .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tqzwfsvEQW .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tqzwfsvEQW .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tqzwfsvEQW .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tqzwfsvEQW .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tqzwfsvEQW .dropdown-item.active,
.cid-tqzwfsvEQW .dropdown-item:active {
  background-color: transparent;
}
.cid-tqzwfsvEQW .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tqzwfsvEQW .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tqzwfsvEQW .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tqzwfsvEQW .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #333333;
}
.cid-tqzwfsvEQW .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tqzwfsvEQW .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tqzwfsvEQW ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tqzwfsvEQW .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tqzwfsvEQW button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tqzwfsvEQW button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tqzwfsvEQW button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tqzwfsvEQW button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tqzwfsvEQW button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tqzwfsvEQW button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tqzwfsvEQW nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tqzwfsvEQW nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tqzwfsvEQW nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tqzwfsvEQW nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tqzwfsvEQW .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tqzwfsvEQW a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tqzwfsvEQW .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tqzwfsvEQW .navbar {
    height: 70px;
  }
  .cid-tqzwfsvEQW .navbar.opened {
    height: auto;
  }
  .cid-tqzwfsvEQW .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tyS3hegWzo {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/gutgo-bg-hero-1680x437.webp");
}
.cid-tyS3hegWzo .mbr-fallback-image.disabled {
  display: none;
}
.cid-tyS3hegWzo .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tyS3hegWzo .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tyS3hegWzo .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 992px) {
  .cid-tyS3hegWzo .text-wrapper {
    padding: 0 2rem;
  }
}
@media (max-width: 768px) {
  .cid-tyS3hegWzo .text-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tyS3hegWzo .mbr-text,
.cid-tyS3hegWzo .mbr-section-btn {
  color: #000000;
  text-align: center;
}
.cid-tyS3hegWzo P {
  text-align: center;
  color: #b90b0b;
}
.cid-tyS3hegWzo .mbr-section-title DIV {
  text-align: center;
}
.cid-tyS3hegWzo .mbr-section-title {
  text-align: center;
  color: #1a536f;
}
.cid-tqznP8KKlp {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tqznP8KKlp .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqznP8KKlp .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tqznP8KKlp .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tqznP8KKlp .row {
  flex-direction: row-reverse;
}
.cid-tqznP8KKlp img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tqznP8KKlp .text-wrapper {
    padding: 2rem;
  }
}
.cid-tqznP8KKlp .mbr-section-title {
  color: #1a536f;
}
.cid-sGY1CoJLXa {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #fafafa;
}
.cid-sGY1CoJLXa .mbr-section-subtitle {
  color: #767676;
}
.cid-sGY1CoJLXa .media-container-row {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-sGY1CoJLXa .mbr-text {
  color: #000000;
}
.cid-sGY1CoJLXa .mbr-author-desc {
  display: block;
  color: #767676;
}
.cid-sGY1CoJLXa .mbr-author-name {
  color: #000000;
}
.cid-sGY1CoJLXa .list > li {
  display: flex;
}
.cid-sGY1CoJLXa .mbr-testimonial .panel-item {
  background-color: #ac92af;
  box-shadow: 0px 0px 10px 3px #ccc;
}
.cid-sGY1CoJLXa .mbr-testimonial .card-block {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  padding: 2.4rem 2.4rem 0 2.4rem;
}
.cid-sGY1CoJLXa .mbr-testimonial .card-block .testimonial-photo {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
}
.cid-sGY1CoJLXa .mbr-testimonial .card-block .testimonial-photo img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-sGY1CoJLXa .mbr-testimonial .card-footer {
  padding-bottom: 2.4rem;
  border-top: 0;
  padding-top: 1rem;
  word-wrap: break-word;
  word-break: break-word;
  background: none;
}
@media (max-width: 300px) {
  .cid-sGY1CoJLXa .testimonial-photo {
    width: 100% !important;
    height: auto !important;
  }
}
.cid-sGY1CoJLXa H2 {
  color: #1a536f;
}
.cid-tqzDbRPLEz {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ac92af;
}
.cid-tqzDbRPLEz img,
.cid-tqzDbRPLEz .item-img {
  width: 100%;
  height: 100%;
  height: 200px;
  object-fit: cover;
}
.cid-tqzDbRPLEz .item:focus,
.cid-tqzDbRPLEz span:focus {
  outline: none;
}
.cid-tqzDbRPLEz .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tqzDbRPLEz .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #1a536f;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tqzDbRPLEz .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tqzDbRPLEz .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-tqzDbRPLEz .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tqzDbRPLEz .mbr-section-title {
  color: #232323;
}
.cid-tqzDbRPLEz .mbr-text,
.cid-tqzDbRPLEz .mbr-section-btn {
  text-align: center;
  color: #fafafa;
}
.cid-tqzDbRPLEz .item-title {
  text-align: center;
  color: #fafafa;
}
.cid-tqzDbRPLEz .item-subtitle {
  text-align: center;
}
.cid-tqzDbRPLEz .mbr-section-subtitle {
  color: #000000;
}
.cid-tqzFinbF3e {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #ac92af;
}
.cid-tqzFinbF3e .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqzFinbF3e .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tqzFinbF3e .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tqzFinbF3e .row {
  flex-direction: row-reverse;
}
.cid-tqzFinbF3e img {
  width: 100%;
}
.cid-tqzFinbF3e .mbr-description {
  color: #33af93;
}
.cid-tqzpP5eTzD {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tqzpP5eTzD .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqzpP5eTzD .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tqzpP5eTzD .mbr-section-subtitle {
  color: #1a536f;
}
.cid-tqzGrcL5l9 {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tqzGrcL5l9 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqzGrcL5l9 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tqzGrcL5l9 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tqzGrcL5l9 img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tqzGrcL5l9 .text-wrapper {
    padding: 2rem;
  }
}
.cid-tqzpS5NKqE {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tqzpS5NKqE .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqzpS5NKqE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tqzpS5NKqE .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tqzpS5NKqE .row {
  flex-direction: row-reverse;
}
.cid-tqzpS5NKqE img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tqzpS5NKqE .text-wrapper {
    padding: 2rem;
  }
}
.cid-tqzpS5NKqE .mbr-section-title {
  color: #1a536f;
}
.cid-txWtoJplCe {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-txWtoJplCe .mbr-fallback-image.disabled {
  display: none;
}
.cid-txWtoJplCe .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-txWtoJplCe .item {
  padding-bottom: 2rem;
}
.cid-txWtoJplCe .item-wrapper {
  position: relative;
}
.cid-txWtoJplCe .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-txWtoJplCe .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-txWtoJplCe .carousel-control,
.cid-txWtoJplCe .close {
  background: #1b1b1b;
}
.cid-txWtoJplCe .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-txWtoJplCe .carousel-control-prev span {
  margin-right: 5px;
}
.cid-txWtoJplCe .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-txWtoJplCe .carousel-control-next span {
  margin-left: 5px;
}
.cid-txWtoJplCe .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-txWtoJplCe .close::before {
  content: '\e91a';
}
.cid-txWtoJplCe .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-txWtoJplCe .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-txWtoJplCe .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-txWtoJplCe .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-txWtoJplCe .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-txWtoJplCe .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-txWtoJplCe .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-txWtoJplCe .carousel-indicators li.active,
.cid-txWtoJplCe .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-txWtoJplCe .carousel-indicators li::after,
.cid-txWtoJplCe .carousel-indicators li::before {
  content: none;
}
.cid-txWtoJplCe .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-txWtoJplCe .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-txWtoJplCe .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-txWtoJplCe .carousel-indicators {
    display: none;
  }
}
.cid-txWtoJplCe .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-txWtoJplCe .carousel-inner > .active {
  display: block;
}
.cid-txWtoJplCe .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-txWtoJplCe .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-txWtoJplCe .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-txWtoJplCe .carousel-control,
  .cid-txWtoJplCe .carousel-indicators,
  .cid-txWtoJplCe .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-txWtoJplCe .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-txWtoJplCe .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-txWtoJplCe .carousel-indicators .active,
.cid-txWtoJplCe .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-txWtoJplCe .carousel-indicators .active {
  background: #fff;
}
.cid-txWtoJplCe .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-txWtoJplCe .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-txWtoJplCe .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-txWtoJplCe .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-txWtoJplCe .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-txWtoJplCe .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-txWtoJplCe .carousel {
  width: 100%;
}
.cid-txWtoJplCe .modal-backdrop.in {
  opacity: 0.8;
}
.cid-txWtoJplCe .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-txWtoJplCe .modal.fade .modal-dialog,
.cid-txWtoJplCe .modal.in .modal-dialog {
  transform: none;
}
.cid-txWtoJplCe .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-txWtoJplCe H6 {
  text-align: center;
}
.cid-txWtoJplCe H3 {
  color: #00008b;
}
.cid-txWtoJplCe H4 {
  color: #1a536f;
}
.cid-tqzSBV3Crv {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tqzSBV3Crv .mbr-section-subtitle {
  text-align: center;
  color: #1a536f;
}
.cid-tzkQdNLpOT {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #1a536f;
}
.cid-tzkQdNLpOT .mbr-fallback-image.disabled {
  display: none;
}
.cid-tzkQdNLpOT .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tzkQdNLpOT .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  flex-direction: column;
  position: relative;
  margin-bottom: 3rem;
}
.cid-tzkQdNLpOT .item .icon-wrap {
  text-align: center;
}
.cid-tzkQdNLpOT .item::before {
  content: "\e925";
  font-family: Moririse2 !important;
  position: absolute;
  font-size: 32px;
  left: 50%;
  top: 97%;
  color: #ac92af;
  transform: translate(-50%, 0);
}
.cid-tzkQdNLpOT .item:last-child:before {
  display: none;
}
.cid-tzkQdNLpOT .item.last::before {
  display: none;
}
.cid-tzkQdNLpOT .icon-box {
  background: #ac92af;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 1rem;
  text-align: center;
  display: inline-block;
}
.cid-tzkQdNLpOT .text-box {
  text-align: center;
}
.cid-tzkQdNLpOT span {
  font-size: 2rem;
  color: #ffffff;
  line-height: 60px;
}
@media (max-width: 991px) {
  .cid-tzkQdNLpOT .card {
    margin-bottom: 2rem;
  }
  .cid-tzkQdNLpOT .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tzkQdNLpOT .card-title,
.cid-tzkQdNLpOT .card-box {
  color: #fafafa;
}
.cid-tzkQdNLpOT .icon-text {
  color: #fafafa;
}
.cid-twXqDzF5Og {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-twXqDzF5Og .mbr-fallback-image.disabled {
  display: none;
}
.cid-twXqDzF5Og .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-twXqDzF5Og .mbr-text,
.cid-twXqDzF5Og .mbr-section-btn {
  color: #232323;
}
.cid-twXqDzF5Og .card-title,
.cid-twXqDzF5Og .card-box {
  color: #ffffff;
}
.cid-twXqDzF5Og .mbr-text,
.cid-twXqDzF5Og .link-wrap {
  color: #ffffff;
}
.cid-tyRVqB0YmD {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #1a536f;
}
.cid-tyRVqB0YmD .mbr-fallback-image.disabled {
  display: none;
}
.cid-tyRVqB0YmD .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tyRVqB0YmD .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  flex-direction: column;
  position: relative;
  margin-bottom: 3rem;
}
.cid-tyRVqB0YmD .item .icon-wrap {
  text-align: center;
}
.cid-tyRVqB0YmD .item::before {
  content: "\e925";
  font-family: Moririse2 !important;
  position: absolute;
  font-size: 32px;
  left: 50%;
  top: 97%;
  color: #b9001e;
  transform: translate(-50%, 0);
}
.cid-tyRVqB0YmD .item:last-child:before {
  display: none;
}
.cid-tyRVqB0YmD .item.last::before {
  display: none;
}
.cid-tyRVqB0YmD .icon-box {
  background: #b9001e;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 1rem;
  text-align: center;
  display: inline-block;
}
.cid-tyRVqB0YmD .text-box {
  text-align: center;
}
.cid-tyRVqB0YmD span {
  font-size: 2rem;
  color: #ffffff;
  line-height: 60px;
}
@media (max-width: 991px) {
  .cid-tyRVqB0YmD .card {
    margin-bottom: 2rem;
  }
  .cid-tyRVqB0YmD .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tyRVqB0YmD .card-title,
.cid-tyRVqB0YmD .card-box {
  color: #fafafa;
}
.cid-tyRVqB0YmD .icon-text {
  color: #fafafa;
}
.cid-tqzWcCk85Y {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tqzWcCk85Y .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqzWcCk85Y .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tqzWcCk85Y .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tqzWcCk85Y img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tqzWcCk85Y .text-wrapper {
    padding: 2rem;
  }
}
.cid-txWbKqmeS2 {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-txWbKqmeS2 .mbr-section-subtitle {
  text-align: left;
}
.cid-txWbMT3VdG {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-txWbMT3VdG .counter-container ul {
  margin: 0;
  list-style: none;
  padding-left: 2.5rem;
}
.cid-txWbMT3VdG .counter-container ul li {
  margin-bottom: 1rem;
  list-style: none;
  position: relative;
  padding-left: 1rem;
}
.cid-txWbMT3VdG .counter-container ul li:before {
  position: absolute;
  left: -40px;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #363636;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
  border-radius: 0;
  content: "✓";
}
.cid-txWbPd8Vug {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tzlmhCHgEz {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tzlmhCHgEz .mbr-fallback-image.disabled {
  display: none;
}
.cid-tzlmhCHgEz .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tzlmhCHgEz .item {
  padding-bottom: 2rem;
}
.cid-tzlmhCHgEz .item-wrapper {
  position: relative;
}
.cid-tzlmhCHgEz .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-tzlmhCHgEz .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-tzlmhCHgEz .carousel-control,
.cid-tzlmhCHgEz .close {
  background: #1b1b1b;
}
.cid-tzlmhCHgEz .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-tzlmhCHgEz .carousel-control-prev span {
  margin-right: 5px;
}
.cid-tzlmhCHgEz .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-tzlmhCHgEz .carousel-control-next span {
  margin-left: 5px;
}
.cid-tzlmhCHgEz .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-tzlmhCHgEz .close::before {
  content: '\e91a';
}
.cid-tzlmhCHgEz .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-tzlmhCHgEz .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-tzlmhCHgEz .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tzlmhCHgEz .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tzlmhCHgEz .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-tzlmhCHgEz .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-tzlmhCHgEz .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-tzlmhCHgEz .carousel-indicators li.active,
.cid-tzlmhCHgEz .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-tzlmhCHgEz .carousel-indicators li::after,
.cid-tzlmhCHgEz .carousel-indicators li::before {
  content: none;
}
.cid-tzlmhCHgEz .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-tzlmhCHgEz .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-tzlmhCHgEz .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-tzlmhCHgEz .carousel-indicators {
    display: none;
  }
}
.cid-tzlmhCHgEz .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-tzlmhCHgEz .carousel-inner > .active {
  display: block;
}
.cid-tzlmhCHgEz .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tzlmhCHgEz .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-tzlmhCHgEz .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-tzlmhCHgEz .carousel-control,
  .cid-tzlmhCHgEz .carousel-indicators,
  .cid-tzlmhCHgEz .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-tzlmhCHgEz .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-tzlmhCHgEz .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-tzlmhCHgEz .carousel-indicators .active,
.cid-tzlmhCHgEz .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-tzlmhCHgEz .carousel-indicators .active {
  background: #fff;
}
.cid-tzlmhCHgEz .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-tzlmhCHgEz .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-tzlmhCHgEz .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-tzlmhCHgEz .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-tzlmhCHgEz .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-tzlmhCHgEz .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-tzlmhCHgEz .carousel {
  width: 100%;
}
.cid-tzlmhCHgEz .modal-backdrop.in {
  opacity: 0.8;
}
.cid-tzlmhCHgEz .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-tzlmhCHgEz .modal.fade .modal-dialog,
.cid-tzlmhCHgEz .modal.in .modal-dialog {
  transform: none;
}
.cid-tzlmhCHgEz .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-tzlmhCHgEz H6 {
  text-align: center;
}
.cid-tzlmhCHgEz H3 {
  color: #00008b;
}
.cid-tzlmhCHgEz H4 {
  color: #1a536f;
}
.cid-tqzZ4VNB1J {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tqzZ4VNB1J .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqzZ4VNB1J .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tqzZ4VNB1J .mbr-section-subtitle {
  text-align: center;
}
.cid-tqzZ4VNB1J .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-tqDyuAed6U {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tqDyuAed6U .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqDyuAed6U .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tqDyuAed6U .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tqDyuAed6U .row {
  flex-direction: row-reverse;
}
.cid-tqDyuAed6U img {
  width: 100%;
}
.cid-tqDyuAed6U .mbr-description {
  color: #ffffff;
}
.cid-tqzZ7G0KQa {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tqzZa9fCXP {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tqzZbgvZoX {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tzjEUzxACp {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tzjEUzxACp .mbr-iconfont {
  font-size: 1.4rem !important;
  font-family: 'Moririse2' !important;
  color: #64c700;
  margin-left: 1rem;
}
.cid-tzjEUzxACp .panel-group {
  border: none;
}
.cid-tzjEUzxACp .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-tzjEUzxACp .panel-body,
.cid-tzjEUzxACp .card-header {
  padding: 1rem 0;
}
.cid-tzjEUzxACp .panel-title-edit {
  color: #000000;
}
.cid-tzjEUzxACp .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-tzjEUzxACp H3 {
  color: #00223f;
}
.cid-tqzZdG2q6t {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ac92af;
}
.cid-tqzZdG2q6t .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqzZdG2q6t .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tqzZdG2q6t .mbr-section-title {
  color: #000000;
}
.cid-tqzZesr74j {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ac92af;
}
.cid-tqzZesr74j .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqzZesr74j .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tqzZesr74j .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tqzZesr74j .row {
  flex-direction: row-reverse;
}
.cid-tqzZesr74j img {
  width: 100%;
}
.cid-tqzZesr74j .mbr-description {
  color: #b9001e;
}
.cid-tqzZgmhtxr {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ac92af;
}
.cid-tqzZgmhtxr .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqzZgmhtxr .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tqzZgmhtxr .mbr-text,
.cid-tqzZgmhtxr .mbr-section-btn {
  color: #232323;
}
.cid-tqzZgmhtxr .card-title,
.cid-tqzZgmhtxr .card-box {
  color: #ffffff;
}
.cid-tqzZgmhtxr .mbr-text,
.cid-tqzZgmhtxr .link-wrap {
  color: #ffffff;
}
.cid-tqzZhjeo8t {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #232323;
}
.cid-tqzZhjeo8t .row-links {
  width: 100%;
  justify-content: center;
}
.cid-tqzZhjeo8t .social-row {
  width: 100%;
  justify-content: center;
}
.cid-tqzZhjeo8t .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-tqzZhjeo8t .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-tqzZhjeo8t .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-tqzZhjeo8t .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-tqzZhjeo8t .media-container-row .social-list {
  width: auto;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-tqzZhjeo8t .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-tqzZhjeo8t .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-tqzZhjeo8t .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-tqzZhjeo8t .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-tqzZhjeo8t .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-tqzZhjeo8t .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-tqzZhjeo8t .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-tqzZihHZx1 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #232323;
}
.cid-tqzZihHZx1 .mbr-section-subtitle {
  text-align: center;
  color: #fbfe00;
}
.cid-tqzZihHZx1 .mbr-text {
  color: #bbbbbb;
}
.cid-tqzZj4VxNh .progress-container {
  z-index: 20000;
  position: fixed;
  width: 100%;
  height: 9px;
  background: #eff4f9;
  top: 70px;
}
.cid-tqzZj4VxNh .progress-bar {
  height: 9px;
  background: #ff4500;
  width: 0%;
}
.cid-tqzZj4VxNh .sticky2 {
  position: fixed;
  top: 0px;
  width: 100%;
}
.cid-tqzZj4VxNh .hidden {
  display: none;
}
.cid-tqzZj4VxNh H10 {
  color: #767676;
}
.cid-tqzZka5WaA .hidden {
  display: none;
}
.cid-tqDvJLy3sR {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tqDvJLy3sR .mbr-section-subtitle {
  text-align: center;
}
.cid-tqDuUUfXGx {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tqDuUUfXGx .mbr-section-subtitle {
  text-align: center;
}
.cid-tqDw9rTzri {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tqDw9rTzri .mbr-section-subtitle {
  text-align: center;
}
